doctype html
html
  head
    style(type='text/css').
      body {
        padding: 20px;
      }

      .feed {
        margin: 0 auto;
        width: 600px;
      }

      .review-block, .comment-block {
        margin-bottom: 20px;
      }

      .comments-block {
        margin-top: 10px;
        margin-left: 40px;
      }
body
    cat-feed(cat-store="Feed")
