div.review-block
  p= review.text

  div.comments-block
    for comment in review.comments
      cat-comment(
        cat-store-param-comment-id=comment.id,
        cat-store-param-instance-id=reviewStoreInstanceId,
        cat-store='Dynamic/Comment'
      )

